:root {
  --w: min(calc(100lvh / 2.2), 100lvw);
  --h: min(100lvh, calc(100lvw*2.2));
  --u: calc(var(--w)/100);
  --bo: calc(var(--w)/200);
}

* {
  margin: 0;
  font-family: "Hiragino Maru Gothic Pro", "Yu Gothic", sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sound-selected {
  border: solid black 3px;
}

.world-svg {
  border: dotted red 3px;
}

#completed {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 10% auto auto 10%;
  border: solid #eee 1px;
  background-color: rgba(255, 255, 255, 0.9);
}

#game-state-panel {
  font-family: 'Cherry Bomb One';
  font-size: calc(var(--u)*10);
  margin: 0;
  padding: 0;

  #score-unit {
    font-size: calc(var(--u)*8);
  }

  * {
    margin: 0;
    padding: 0;
    border: solid red 1px;
  }

}
